body{
    background-color: #CCCCFF;
    font: bold 14pt "sans-serif";
    text-align: center;
}
h1{
    font-size: 32pt;
    margin: 0;
}
#text{
    width: 90%;
    height: 400px;
    font-family: monospace;
    font-size: 12pt;
    margin-top: 0;
}
fieldset{
    display: inline-block;
    font-weight: bold;
    border: 5px solid black;
    vertical-align: top;
}
footer{
    float: right;
}